/* styles.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
  background-color: #f5f5f5;
}

header {
  text-align: center;
  padding: 2em;
  background-color: #e9f3ff;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  margin: 0;
  color: #4997d0;
  font-size: calc(12px + 2vw);
}

.cta-button {
  background-color: #087ce8;
  color: #ffffff;
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
  font-size: 1em;
  font-weight: 700;
  border-radius: 9px;
}

#intro {
  text-align: center;
  padding: 2em;
  background-color: #ffffff;
}

#intro .tagline {
  display: block;
  color: #ff6347;
  margin-bottom: 0.5em;
  border: 1px solid;
  width: fit-content;
  padding: 0.5em 1em;
  border-radius: 8px;
}

#intro h2 {
  margin: 0.5em 0;
}

#intro .highlight {
  color: #4997d0;
}

nav {
  text-align: center;
  background-color: #000;
  padding: 1em;
}

nav a {
  color: #fff;
  margin: 0 1em;
  text-decoration: none;
  font-size: 1.2em;
}

section {
  padding: 2em;
  background-color: #ffffff;
}

#what-we-offer img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1em auto;
}

.info-box {
  background-color: #f0f0f0;
  padding: 1em;
  margin: 1em 0;
  border-radius: 5px;
}

.info-box h3 {
  margin-top: 0;
}

.package-box {
  background-color: #f0f0f0;
  padding: 1em;
  margin: 1em 0;
  border-radius: 5px;
}

.package-box h3 {
  margin-top: 0;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin: 0.5em 0 0.2em;
}

form input,
form textarea {
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  padding: 0.5em;
  background-color: #4997d0;
  color: #fff;
  border: none;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: #000;
  color: #fff;
}

footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 0.5em;
}
